<!DOCTYPE html>
<html>
<head>
    <title>Customer - Add</title>
</head>
    <body>
        <h1>Add New Consumer Credit Info</h1>
        <form action="/consumer_credit/insert" method="get">
                First Name: <input name="fname" type="text" />
                <br />
                Last Name: <input name="lname" type="text" />
                <br />
                Credit Score: <input name="credit_score" type="text" />
                <br />
                Amount Owed (for the month): <input name="amount_owed" type="text" />
                <br />
                Ecorp Id: <input name="ecorp_id" type="text" />
                <br />
                <input type="submit" />
         </form>
    </body>
</html>