<!DOCTYPE html>
<html>
<head>
    <title>Employee - Add</title>
          <meta charset="utf-8">
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
          <style>.right{float: right; margin-left:10px;}</style>
</head>
    <body>
        <h1>Add New Employee Info</h1>
        <form action="/employee/insert" method="get">
             <div style="width:400px;">
             <fieldset style="margin-top:10px; margin-left:10px;">
                <label for = "ecorp_id">Evil Corp ID: <input class="right" name="ecorp_id" type="text" />
                <br />
                <label for = "ssn">SSN: <input class="right" name="ssn" type="text" />
                <br />
                <label for = "fname">First Name: <input class="right" name="fname" type="text" />
                <br />
                <label for = "lname">Last Name: <input class="right" name="lname" type="text" />
                <br />
                <label for = "street">Street Address: <input class="right" name="street" type="text" />
                <br />
                <label for = "city">City: <input style="margin-left:100px;" class="right" name="city" type="text" />
                <br />
                <label for = "zip">Zip Code: <input style="margin-left:100px;" class="right" name="zip" type="text" />
                <br />
                <input type="submit" style="color: green; background-color: cyan;" />
            </fieldset>
            </div>
         </form>
    </body>
</html>