<!DOCTYPE html>
<html>
<head>
    <title>Employee - Add</title>
</head>
    <body>
        <h1>Add New Employee Info</h1>
        <form action="/employee/insert" method="get">
                SSN: <input name="ssn" type="text" />
                <br />
                First Name: <input name="fname" type="text" />
                <br />
                Last Name: <input name="lname" type="text" />
                <br />
                Street Address: <input name="street" type="text" />
                <br />
                City: <input name="city" type="text" />
                <br />
                Zip Code: <input name="zip" type="text" />
                <br />
                <input type="submit" />
         </form>
    </body>
</html>