<!DOCTYPE html>
<html>
<head>
    <title>Ecorp - Add</title>
</head>
    <body>
        <h1>Add New Ecorp Info</h1>
        <form action="/ecorp/insert" method="get">
               Address: <input name="address" type="text" />
                <br />
                Stock Trends: <input name="stock_trends" type="text" />
                <br />
                Street: <input name="street" type="text" />
                <br />
                Zip Code: <input name="zip_code" type="text" />
                <br />
                City: <input name="city" type="text" />
                <br />
                <input type="submit" />
         </form>
    </body>
</html>