<!DOCTYPE html>
<html>
  <head>
    <title> Ecorp DB</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta charset="utf-8">
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
          <img style="margin-left:10px;" width = "200" height = "200"
          src="https://res.cloudinary.com/teepublic/image/private/s--OvYaBhmQ--/t_Preview/b_rgb:c8e0ec,c_limit,f_jpg,h_630,q_90,w_630/v1477322578/production/designs/751218_1.jpg"/>
  </head>
  <body style="background-color:aqua;">
    <h2><p><a href ='/ecorp/all'> Ecorp View All </a></p>
    <p><a href ='/employee/all'> Employee View All </a></p>
    <p><a href ='/products/all'> Products View All </a></p>
    <p><a href='/customer/all'> Customer View All </a></p>
    <p><a href='/consumer_credit/all'> Consumer Credit View All </a></p></h2>
    <h3><a href='/sql/sql1'> 1st SQL Query </a> <br />
    <a href='/sql/sql2'> 2nd SQL Query </a> <br />
    <a href='/sql/sql3'> 3rd SQL Query </a> <br />
    <a href='/sql/sql4'> 4th SQL Query </a> <br />
    <a href='/sql/sql5'> 5th SQL Query </a> <br />
    <a href='/sql/sql6'> 6th SQL Query </a> <br />
    <a href='/sql/sql7'> 7th SQL Query </a> <br />
    <a href='/sql/sql8'> 8th SQL Query </a> <br />
    <a href='/sql/sql9'> 9th SQL Query </a> <br />
    <a href='/sql/sql10'> 10th SQL Query </a> <br />
    </h3>
  </body>
</html>
