<!DOCTYPE html>
<html>
<head>
    <title> Ecorp DB</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <img style="margin-left:10px;" width = "200" height = "200"
         src="https://res.cloudinary.com/teepublic/image/private/s--OvYaBhmQ--/t_Preview/b_rgb:c8e0ec,c_limit,f_jpg,h_630,q_90,w_630/v1477322578/production/designs/751218_1.jpg"/>
</head>
<body style="background-color:aqua;">
<br />
#2)  A query using a subquery in a JOIN
<br />
DROP PROCEDURE IF EXISTS sql2; <br />
    SELECT c.lname, c.address, <br />
  (SELECT Count(ecorp_id) FROM ecorp ) as ecorpCount <br />
FROM customer c, ecorp e <br />
join consumer_credit cc on cc.ecorp_id = e.ecorp_id; <br />
<br />

<table border="1">
    <tr>
        <th>Last Name</th>
        <th>Address</th>
        <th># of Ecorp Entries</th>
    </tr>
    <% for (var i = 0; i < sql.length; i++) { %>
    <tr>
        <td><%= sql[i].lname %></td>
        <td><%= sql[i].address %></td>
        <td><%= sql[i].ecorpCount %></td>
    </tr>

    <% } %>
</body>
</html>
