<!DOCTYPE html>
<html>
<head>
    <title> Ecorp DB</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <img style="margin-left:10px;" width = "200" height = "200"
         src="https://res.cloudinary.com/teepublic/image/private/s--OvYaBhmQ--/t_Preview/b_rgb:c8e0ec,c_limit,f_jpg,h_630,q_90,w_630/v1477322578/production/designs/751218_1.jpg"/>
</head>
<body style="background-color:aqua;">
<br />
#4)  A query using a subquery with EXISTS or NOT EXISTS

<br />
DROP PROCEDURE IF EXISTS sql4; <br />

DELIMITER // <br />

CREATE PROCEDURE sql4() <br />

  BEGIN <br />
    select partner, stock_trends FROM ecorp <br />
    WHERE EXISTS (SELECT ecorp_id from consumer_credit where <br />
      consumer_id > 1); <br />

  end // <br />

Delimiter; <br />

<table border="1">
    <tr>
        <th>Partner Name</th>
        <th>Stock Trends</th>
    </tr>
    <% for (var i = 0; i < sql.length; i++) { %>
    <tr>
        <td><%= sql[i].partner %></td>
        <td><%= sql[i].stock_trends %></td>
    </tr>

    <% } %>
</body>
</html>
