<!DOCTYPE html>
<html>
<head>
    <title> Ecorp DB</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <img style="margin-left:10px;" width = "200" height = "200"
         src="https://res.cloudinary.com/teepublic/image/private/s--OvYaBhmQ--/t_Preview/b_rgb:c8e0ec,c_limit,f_jpg,h_630,q_90,w_630/v1477322578/production/designs/751218_1.jpg"/>
</head>
<body style="background-color:aqua;">
<br />
#9) A query using a UNION
<br />
DROP PROCEDURE IF EXISTS sql9; <br />
DELIMITER // <br />
CREATE PROCEDURE sql9() <br />
  BEGIN <br />
select fname, lname FROM customer <br />
UNION <br />
  select fname, lname FROM consumer_credit <br />
ORDER BY lname; <br />
END // <br />
DELIMITER; <br />

<table border="1">
    <tr>
        <th style="color:red; background-color:black;">First Name</th>
        <th style="color:red; background-color:black;">Last Name</th>
    </tr>
    <% for (var i = 0; i < sql.length; i++) { %>
    <tr>
        <td style="color:black; background-color:red;"><%= sql[i].fname %></td>
        <td style="color:black; background-color:red;"><%= sql[i].lname %></td>
    </tr>

    <% } %>
</body>
</html>
