<!DOCTYPE html>
<html>
<head>
    <title>Customer - Add</title>
          <meta charset="utf-8">
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
    <body>
        <h1>Add New Customer Info</h1>
        <form action="/customer/insert" method="get">
                First Name: <input name="fname" type="text" />
                <br />
                Last Name: <input name="lname" type="text" />
                <br />
                Address: <input name="address" type="text" />
                <br />
                City: <input name="city" type="text" />
                <br />
                State: <input name="state" type="text" />
                <br />
                zip: <input name="zip" type="text" />
                <br />
                Subscription Amount: <input name="subscription_amount" type="text" />
                <br />
                Subscription Description: <input name="description" type="text" />
                <br />
                <input type="submit" />
         </form>
    </body>
</html>