<!DOCTYPE html>
<html>
<head>
    <title>Customer - Add</title>
          <meta charset="utf-8">
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
          <style>.right{float: right; margin-left:10px;}</style>
</head>
    <body>
        <h1>Add New Customer Info</h1>
        <form action="/customer/insert" method="get">
              <fieldset style="margin-top:10px; margin-left:10px;">
                <label for="ecorp_id">Evil Corp ID: <input class="right" name="ecorp_id" type="int" />
               <br />
                <label for ="fname">First Name: <input class ="right" name="fname" type="text" />
                <br />
                <label for ="lname">Last Name: <input class="right" name="lname" type="text" />
                <br />
                <label for ="address">Address: <input class="right" name="address" type="text" />
                <br />
                <label for ="city">City: <input class="right" name="city" type="text" />
                <br />
                <label for ="state">State: <input class="right" name="state" type="text" />
                <br />
                <label for ="zip">zip: <input class="right" name="zip" type="text" />
                <br />
                <label for ="subscription_amount">Subscription Amount: <input class="right" name="subscription_amount" type="text" />
                <br />
                <label for ="description">Subscription Description: <input class="right" name="description" type="text" />
                <br />
                <input type="submit" style="color: green; background-color: cyan;"/>
                </fieldset>
         </form>
    </body>
</html>