<!DOCTYPE html>
<html>
<head>
    <title>Ecorp - Add</title>
</head>
    <body>
        <h1>Add New Product Info</h1>
        <form action="/products/insert" method="get">
                Computer(s): <input name="computer" type="text" />
                <br />
                Tablet(s): <input name="tablet" type="text" />
                <br />
                Phone(s): <input name="phone" type="text" />
                <br />
                Other: <input name="other" type="text" />
                <br />
                Evil Corp ID: <input name="ecorp_id" type="text" />
                <br />
                <input type="submit" />
         </form>
    </body>
</html>